* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    display: flex;
    background-color: rgb(48, 47, 47);
    padding: 2vh 10vw;
    justify-content: space-between;
}

#nav-logo img {
    width: 8vw;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1vw;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

main{
    background-color: black;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-logo img{
    width: 45vw;
}